
.plane-path {
    margin: auto;
    padding: 0px;
    width: 12em;
    height: 12em;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plane-loading {
    padding: 0px;
    width: 2.5em;
    height: 2.5em;
    color: #FF4F00;
    animation: circle 2s linear infinite;
}

@keyframes circle{
    0%{
        transform: 
            rotate(-180deg)
            translate(0px, -5.9em);
    }
    100%{
        transform:
            rotate(180deg)
            translate(0px, -5.9em);
    }
}